body {
	width: 360px;
	height: 640px;
	
	position: relative;
}

.clipboard-icon {
	width: 80px;
	height: 90px;
	padding: 10px;
	background: url("images/clipboard.png");
	position: absolute;
	bottom: 3;
	left: 2;
}
	
	.clipboard {
		display: none;
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		background-color: white;
		border: 8px solid orange;
		z-index: 1002;
	
	
	}
		
		#clipboard-close {
			position: absolute;
			background: url("images/exit.png");
			background-size: 30px 30px;
			width: 30px;
			height: 30px;
			left: 95%;
			bottom: 310px;
			z-index: 1005;
			
		}

.idcard-icon {
	width: 80px;
	height: 60px;
	padding: 10px;
	position: absolute;
	background: url("images/ID.png");
	bottom: 25;
	right: 2;
	
}

	.idcard {
		display: none;
		position: absolute;
		top: 25%;
		left: 25%;
		width: 50%;
		height: 50%;
		background-color: white;
		border: 8px solid green;
		z-index: 1003;
	
	
	}
		
		#idcard-close {
			position: absolute;
			background: url("images/exit.png");
			background-size: 30px 30px;
			width: 30px;
			height: 30px;
			left: 95%;
			bottom: 310px;
			z-index: 1005;
		}

