@font-face {
	font-family: 'Munro';
	src: url('Munro.ttf');
}

body {
	width: 360px;
	height: 640px;
	background-color: #C8E9AC;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

body * {
	position: absolute;
	
}

.back-button {
	position: absolute;
	bottom: 0px;
	left: 140px;
	text-align: center;
	padding: 6px;
    width: 50px;
    height: 20px;

    background-color: #fffac4;
    border: 4px solid gray;
    border-radius: 2px;

    cursor: pointer;
}

	#back-text {
		position: relative;
		font-size: 20px;
		font-family: "Munro", Arial;
		text-transform: uppercase;
	}

.clipboard-title {
	
	position: absolute;
	bottom: 100px;
	color: #111;
	font-size: 20px;
	font-family: "Munro", Arial;
	text-transform: uppercase;
}

.clipboard-icon {
	width: 80px;
	height: 90px;
	padding: 10px;
	background: url("images/clipboard.png");
	position: absolute;
	bottom: 3;
	left: 2;
}

.clipboard-icon:hover{
	bottom: 8px;
	cursor: pointer;
}
	
	.clipboard {
		display: none;
		position: absolute;
		top: 15%;
		left: 15%;
		width: 70%;
		height: 60%;
		background-color: #fffac4;
		border-radius: 25px;
		border: 8px solid brown;
		z-index: 1002;
	
		font-family: "Munro", Arial;
	}
		
		#clipboard-close {
			position: absolute;
			background: url("images/exit.png");
			background-size: 30px 30px;
			width: 30px;
			height: 30px;
			left: 95%;
			bottom: 370px;
			z-index: 1005;
			cursor: pointer;
		}
		
	

.idcard-title {
	
	position: absolute;
	bottom: 100px;
	right: 0px;
	color: #111;
	font-size: 20px;
	font-family: "Munro", Arial;
	text-transform: uppercase;
}

.idcard-icon {
	width: 80px;
	height: 60px;
	padding: 10px;
	position: absolute;
	background: url("images/ID.png");
	bottom: 30px;
	right: 2px;
	
}

.idcard-icon:hover {
	bottom: 35px;
	cursor: pointer;
}

	.idcard {
		display: block;
		position: absolute;
		top: 15%;
		left: 15%;
		width: 70%;
		height: 60%;
		border-radius: 25px;
		background-color: #fffac4;
		border: 8px solid #48a6ca;
		z-index: 1003;
	
	
	}
	
		#idcard-membername {
			font-family: "Munro", Arial;
			font-size: 20px;
			position: absolute;
			left: 5%;
			top: 55%;
		
		}
		
		#idcard-email {
			font-family: "Munro", Arial;
			font-size: 20px;
			position: absolute;
			left: 5%;
			top: 70%;
		}
		
		#idcard-joindate {
			font-family: "Munro", Arial;
			font-size: 20px;
			position: absolute;
			left: 5%;
			top: 85%;
		}
		
		#profile-image { 
			background: url("images/ID_anteater.png");
			width: 200px;
			height: 175px;
			top: 10px;
			left: 10%;			
			
		}
		
		#idcard-close {
			position: absolute;
			background: url("images/exit.png");
			background-size: 30px 30px;
			width: 30px;
			height: 30px;
			left: 95%;
			bottom: 370px;
			z-index: 1005;
			cursor: pointer;
		}


