@font-face {
    font-family: 'Munro';
    src: url('Munro.ttf');
}

body {
    width: 360px;
    height: 640px;
    position: relative;
    background-color: #409A9E;
    margin-left: auto;
    margin-right: auto;
}

#pusheen {
    max-width: 360px;
}

h1 {
    color: #111;
    font-size: 35px;
    font-family: "Munro", Arial;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.back-button {
    position: absolute;
	bottom: 0px;
	padding: 6px;
    width: 100%;
    height: 20px;

    background-color: #fffac4;
    border: 4px solid gray;
    border-radius: 2px;

    cursor: pointer;
}

#back-text {
	text-align: center;
    font-size: 20px;
    font-family: "Munro", Arial;
    text-transform: uppercase;
}

#checkin-time {
    color: red;
    font-size: 16px;
    font-family: Unkempt, Arial;
    font-style: italic;
    text-align: center;
    display: block;
    border: 4px solid #444;
    background-color: #fffac4;
    border-radius: 15px;
    padding: 3px;
}



