@font-face {
	font-family: 'Munro';
	src: url('Munro.ttf');
}

body{
	width: 360px;
	height: 640px;
	position: relative;
	background-color: #409A9E;
}

#pusheen{
	max-width: 360px;
}

h1 {
	color: #111;
	font-size: 22px;
	font-family: "Munro", Arial;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.back-button {
	position: absolute;
	width: 40px;
	height: 20px;

	background-color: #fffac4;
	border: 4px solid gray;
	border-radius: 2px;
	
	bottom: 50px;
	right: 45%;
	cursor: pointer;
}

	#back-text {
		position:absolute;
		
		top: 4px;
		right: 10px;
		font-size: 12px;
		font-family: "Munro", Arial;
		text-transform: uppercase;
	}
	

#checkin-time{
	color: red;
	font-size: 16px;
	font-family: Unkempt, Arial;
	font-style: italic;
}


