@font-face {
	font-family: 'Munro';
	src: url('Munro.ttf');
}

body{
	width: 360px;
	height: 640px;
	position: relative;
	background-color: #409A9E;
}

#pusheen{
	max-width: 360px;
}

h1 {
	color: #111;
	font-size: 22px;
	font-family: "Munro", Arial;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

#checkin-time{
	color: red;
	font-size: 16px;
	font-family: Unkempt, Arial;
	font-style: italic;
}


.menu-back {
	
	width: 100px;
    height: 40px;
    padding: 10px;
	background: url("images/menu.jpg");
	background-size: 100px 40px;
    font-family: Unkempt, Arial;
	position: absolute;
	
	bottom: 0;
	right: 0;

	
}
